{% extends 'base.html' %}
{% block content %}
    {% if product_list %}
        <div class="row row-cols-1 row-cols-md-3">
            {% for product in product_list %}
                <div class="col mb-4">
                    <div class="card h-100">
                        {% if product.image %}
                            <img height="200" width="250"
                                 src={{ product.image.url }} class="card-img-top"
                                 alt="...">
                        {% endif %}
                        <a class="card-body">
                            <strong class="text-primary mb-2">
                                {{ product.get_school_type_display }}
                            </strong>
                            <h5 class="card-title">
                                {{ product.name|title }}
                            </h5>
                            <p class="card-text text-muted">
                                {{ product.price }} €
                            </p>
                            <p class="card-text">
                                {{ product.description|truncatewords:25 }}
                            </p>
                            <a href={% url 'detail' product.id %}
                                       class="btn btn-primary">
                            View details »
                        </a>
                        {% if product.company.logo %}
                            <img style="height: 3rem;"
                                 src={{ product.company.logo.url }} alt="logo"
                                 class="img-thumbnail float-right">
                        {% endif %}
                    </div>
                </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="card text-center">
            <div class="card-body">
                No products are available.
            </div>
        </div>
    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1"
                       aria-disabled="true">
                        First
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.previous_page_number }}">
                        {{ page_obj.previous_page_number }}
                    </a>
                </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="#">
                    {{ page_obj.number }}
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.next_page_number }}">
                        {{ page_obj.next_page_number }}
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       href="?page={{ page_obj.paginator.num_pages }}">
                        Last
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
